:root {
    --green: #264c59;
    --light-green: #acc6c9;
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
    --white: #f1f1f1;
}
@font-face {
    font-family: brown;
    font-weight: 400;
    src: url(fonts/Brown-Regular.7f9d34ef598815119937.otf);
}
@font-face {
    font-family: brown;
    font-weight: 700;
    src: url(fonts/Brown-Bold.bddc1870e7bde05658d7.otf);
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}
body {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    color: #333;
    color: var(--text-color-dark);
    font-family: brown, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.05em;
    letter-spacing: 0.6px;
}
h1,
h2,
h3,
h4 {
    color: #264c59;
    color: var(--green);
    letter-spacing: 3px;
    line-height: 1.2em;
    margin: 0;
    padding: 0.6em 0 0;
    text-transform: uppercase;
}
h4 {
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 2em;
}
p {
    line-height: 1.5;
    margin-top: 0.3em;
    overflow: auto;
}
.tagline p {
    color: #264c59;
    color: var(--green);
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 0.2em;
}
@media (min-width: 768px) {
    .tagline p {
        font-size: 1.45em;
        text-align: right;
    }
}
a {
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
}
a:hover {
    opacity: 0.6;
}
.list-social span {
    display: none;
}
img {
    height: auto;
    max-width: 100%;
    width: 100%;
}
@media (max-width: 767px) {
    .phone-display-none {
        display: none;
    }
}
@media (min-width: 768px) {
    section {
        min-height: 100%;
    }
}
.center,
.vertical-center {
    display: table-cell;
    vertical-align: middle;
}
#scrollTop {
    background-color: rgba(38, 76, 89, 0.8);
    border: none;
    bottom: 10px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 18px;
    outline: none;
    padding: 10px 13.5px 10px 14.5px;
    position: fixed;
    right: 10px;
    z-index: 99;
}
@media (min-width: 768px) {
    #scrollTop {
        padding: 12px 15.5px 12px 16.5px;
    }
}
.header {
    background-image: url(img/header_mobile.6eb9647d2722d9208fad.webp);
    background-size: 120%;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
@media (min-width: 768px) {
    .header {
        background-image: url(img/header_desktop.002f9ca24efb0d434da1.webp);
        background-position: 50%;
        display: table;
        padding-top: 0;
        text-align: left;
    }
}
.header .list-social i {
    color: #264c59;
    color: var(--green);
    font-size: 30px;
}
.list-social :not(:last-child) {
    margin-right: 15px;
}
.header h1 {
    font-size: 1.3em;
    margin: 10px 0 0;
}
.header p {
    margin-bottom: 0.6em;
}
@media (min-width: 768px) {
    .header h1 {
        font-size: 1.5em;
        margin: 0;
    }
}
@media (min-width: 992px) {
    .header h1 {
        font-size: 1.8em;
    }
}
.header .vertical-center {
    display: inline;
    display: initial;
    margin: auto;
}
@media (min-width: 768px) {
    .header .vertical-center {
        display: table-cell;
        padding-left: 50%;
    }
}
@media (min-width: 992px) {
    .header .vertical-center {
        padding-left: 53%;
    }
}
@media (min-width: 1200px) {
    .header .vertical-center {
        padding-left: 62%;
    }
}
@media (min-width: 1400px) {
    .header .vertical-center {
        padding-left: 63%;
    }
}
#expertise {
    background-image: url(img/expertise_bg.9998200f8d78f82cbbe7.svg);
    background-position-x: 30%;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 300%;
    padding-top: 4em;
}
@media (min-width: 768px) {
    #expertise {
        grid-gap: 1em;
        align-content: baseline;
        background-size: cover;
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
        justify-items: end;
        padding: 4em 0 20em;
    }
}
@media (min-width: 992px) {
    #expertise {
        background-position-x: 30%;
    }
}
@media (min-width: 1600px) {
    #expertise {
        background-position-x: 20%;
    }
}
@media (min-width: 1750px) {
    #expertise {
        background-position-x: 0;
    }
}
@media (min-width: 1900px) {
    #expertise {
        background-position-x: -15%;
    }
}
@media (min-width: 2000px) {
    #expertise {
        background-position-x: -30%;
    }
}
@media (min-width: 2100px) {
    #expertise {
        background-position-x: -50%;
    }
}
@media (min-width: 2200px) {
    #expertise {
        background-position-x: -110%;
    }
}
#expertise article {
    margin: auto auto 3em;
    max-width: 450px;
    padding: 0 25px;
    text-align: center;
}
#expertise section {
    margin: 2em 0 0;
}
#expertise h2 {
    font-size: 3em;
    letter-spacing: 10px;
}
@media (min-width: 768px) {
    #expertise article {
        margin: 0 0 1.5em;
        text-align: left;
    }
    #expertise section {
        margin: 0 auto 0 0;
    }
    #expertise h2 {
        margin-right: -10px;
        text-align: right;
    }
    #expertise .tagline {
        grid-column-start: 1;
    }
}
#clients {
    margin: 5em 0 0;
}
#clients .headline-container {
    overflow: hidden;
    width: 100%;
}
#clients h2 {
    font-size: 3em;
    letter-spacing: 30px;
    line-height: normal;
    margin: 0 -35px 0 0;
    text-align: right;
}
@media (min-width: 768px) {
    #clients .headline-container {
        margin-top: -210px;
    }
    #clients h2 {
        font-size: 7em;
        letter-spacing: 40px;
        margin: 0 -52px 0 0;
    }
}
@media (min-width: 992px) {
    #clients .headline-container {
        margin-top: -300px;
    }
    #clients h2 {
        font-size: 12em;
        letter-spacing: 50px;
        margin: 0 -80px 0 0;
    }
}
#clients h3 {
    margin: 0;
}
.client-row {
    background: #f1f1f4;
    margin-bottom: 40px;
    overflow: hidden;
}
.client-row > article {
    background: #f1f1f4;
    margin: auto 0 auto auto;
    max-width: 400px;
    padding: 40px;
    text-align: right;
}
.client-row:nth-child(2n) > article {
    margin: auto auto auto 0;
    text-align: left;
}
@media (min-width: 768px) {
    .client-row {
        display: grid;
        grid-template-columns: 3fr 4fr;
    }
    .client-row:nth-child(2n) {
        grid-template-columns: 2fr 1fr;
    }
    .client-row:nth-child(2n) > figure {
        order: 1;
    }
    .client-row:nth-child(2n) > article {
        order: 2;
    }
}
.client-links {
    color: #264c59;
    color: var(--green);
    font-size: 0.85em;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 1.8;
    margin-top: 0.3em;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .client-links {
        font-size: 0.9em;
    }
}
.client-row img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    transition: all 0.3s;
    width: 100%;
}
.client-row:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
@media (min-width: 990px) {
    .client-row figure {
        height: 450px;
    }
}
.client-row figure {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.hero {
    background-color: #acc6c9;
    background-color: var(--light-green);
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}
.hero article {
    padding: 4em 1em;
}
.hero h2 {
    color: #fff;
    font-size: 3em;
    margin: 0;
    padding: 0;
}
.hero p {
    font-size: 1.45em;
}
@media (min-width: 768px) {
    .hero h2 {
        font-size: 5em;
    }
    .hero article {
        padding: 7em;
    }
}
.hero p {
    color: #264c59;
    color: var(--green);
    margin-bottom: 0;
}
.hero a {
    font-weight: 700;
}
#contact {
    background: #f1f1f4;
    background: var(--light-grey);
    margin-top: 40px;
    padding: 4em 0;
    text-align: center;
    width: 100%;
}
#contact figure {
    margin: 3em 0 0;
}
@media (min-width: 768px) {
    #contact {
        grid-column-gap: 3em;
        -webkit-column-gap: 3em;
        column-gap: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 7em 0;
        text-align: left;
    }
    #contact article {
        text-align: right;
    }
    #contact figure {
        margin: 0;
    }
}
#contact img {
    border-radius: 50%;
    margin: auto;
    max-width: 300px;
    width: 100%;
}
#contact h2 {
    font-size: 3em;
    margin-top: 0;
    padding: 0;
}
@media (min-width: 768px) {
    #contact h2 {
        font-size: 5em;
        margin-right: -8px;
    }
}
#contact address {
    font-style: normal;
    margin: 2em 0 0;
}
#contact .list-social {
    margin: 2em 0 0;
}
#contact .list-social i {
    color: #264c59;
    color: var(--green);
    font-size: 30px;
}
#contact p:last-child {
    margin-bottom: 0;
}
footer {
    background-color: #264c59;
    background-color: var(--green);
    text-align: center;
    width: 100%;
}
footer .logo {
    padding: 3em;
    width: 300px;
}

/* ========== TYPED JS STYLING ========== */

.typed-cursor {
    display: none;
}

.typed-cursor--blink {
    opacity: 1;
}
.typed-cursor--blink {
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
    50% {
        opacity: 0;
    }
}
@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
